.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Questrial', sans-serif;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: rgba(0,0,0,.03);
  width: 100px;
  height: 100px;
  margin: 10px;
}

#messages {
  height: 30px;
  font-size: 40px;
  margin-bottom: 100px;
}

.button {
  background-color: #4fe6d9;
  border: none;
  color: #f69544;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

h3 {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes example {
  0%   {left:0%; top:0px;}
  25%  {left:50%; top:0px;}
  50%   {left:0%; top:0px;}
  10%  {left:50%; top:0px;}
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  height: 600px;
  margin-bottom: 20px;
  background-image: url('./images/bg-01.jpg');
}

#reset {
  font-size: 20px;
}

#img{
  height: 200px;
  margin-top: 60px;

}
